.profile-pic {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.features ul > li {
    margin-bottom: 10px;
}

.features ul > li > i {
    margin-right: 10px;
    font-size: 18px;
    color: #787878;
}

.features ul > li > span {
    font-weight: 300
}


#discipline-selection {
    text-align: center;
}

#discipline-selection > div {
    width: 100%
}

#discipline-selection .btn:nth-child(1):nth-last-child(1) {
    width: 100%;
}

/* two items */
#discipline-selection .btn:nth-child(1):nth-last-child(2),
#discipline-selection .btn:nth-child(2):nth-last-child(1) {
    width: 50%;
}


#discipline-selection .btn.discipline-selected {
    background-color: #444;
    border-color: #666;
}


#date-picker-input {
    background-color: #FFF;
}

#hour-selection {
    text-align: center;
}

#hour-selection > div {
    width: 100%;
}
#hour-selection .btn {
    width:25%;
}

#hour-selection .btn.hour-selected {
    background-color: #444;
    border-color: #666;
}

.daterangepicker {
    width: auto;
}

.daterangepicker .calendar.left.single {
    max-width: none
}

.daterangepicker .calendar-table td, .daterangepicker .calendar-table th {
    min-width: 45px;
    width: 45px;
    height: 45px;
    font-size: 13px;
    cursor: inherit;
}

.daterangepicker .calendar-table td.available {
    cursor: pointer;
}

.date-min-price {
    font-size:9px;
    line-height: 13px;
    color: #308ad5;
}
